.DS_Store
*.pyc*
*__pycache__*
*old_stuff*
*.zip*
*AutoDL_sample_result_submission*
*sample-cifar-100-train*
*AutoDL_sample_result_submission*
*scoring_output*
*tmp*
*checkpoint*
*20news*
*baseline_methods*
*baseline_results*
*test_output*
# Name of public datasets
*Chucky*
*Decal*
*Hammer*
*Munster*
*Pedro*
