# List of common Python packages installed in the Docker image used for this
# challenge.
# Participants are welcome to suggest other useful Python packages to be
# installed. If necessary, we'll update the Docker image to satisfy the need
# for most participants
numpy
pandas
scipy
matplotlib
scikit-learn
pyyaml
psutil
xgboost

# Deep learning frameworks
keras
# CUDA 10 support for PyTorch
https://download.pytorch.org/whl/cu100/torch-1.0.1.post2-cp35-cp35m-linux_x86_64.whl
torchvision
